body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid gray;
    background-color: aquamarine;
    width: 400px;
    height: 200px;
    margin: -100px 0 0 -200px; 
}
#escondebanner {
    display: none;
}
#escondebanner:checked ~ .banner {
    display: none;
}